
<div class="row">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="mainComponent fade-in one">
            <div class="paddingTo10">
                <div class="form-group">
                    <p class="fontXXLarge"><strong>{{'MENU.ABOUT' | translate}}</strong></p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="subComponent fade-in two" style="height: 400px;">	
           <div class="paddingTo10">	
            <form class="form-horizontal">	
                    <div class="form-group" style="margin-right: 0px; margin-left: 0px;">
                        <p class="fontLarge leftAndMiddle"><strong>{{'AB.P1' | translate}}</strong></p>
                        <br/>
                        <p class="fontLarge leftAndMiddle"><strong>{{'AB.P2' | translate}}</strong></p>
                        <br/>
                        <p class="fontLarge leftAndMiddle"><strong>{{'AB.P3' | translate}}</strong></p>
                        <br/>
                        <p class="fontLarge leftAndMiddle"><strong>{{'AB.P4' | translate}}</strong></p>
                        <br/>
                        <p class="fontLarge leftAndMiddle"><strong>{{'MAIN.HK_RAIN' | translate}}</strong></p>
                    </div>  
                </form>	
           </div>	
        </div>
    </div>
</div>
